body {
    background-color: #1b1f23;
    color: #ffffff;

}
li {
    list-style-type: none;
    padding-left: 0;
}

a {
    padding-left:600px ;
        color: aqua;
}

div.cont {
    font-size: 20px;
    margin: 4px 15px;

}

div.potato {
    font-size: 25px;
    font-weight: 700;
    color: #46d025;
}

h1.NU{
    text-align: center;
    color: red;
}

.nunu{
    padding-top: 200px;
}